<div class="main-container">

<div class="categories">
    <h2>Select a catgory to view commands</h2>
    <div class="categories.buttons">
        @for (category of this.commandService.category_set; track category.name) {
            <button
                class="button1"
                [class]="{'toggled': this.selected === $index}"
                (click)="selectCategory($index)"
            >{{ category.name }}</button>
        }
    </div>
</div>

@for (command of this.commandService.getCommands(selected); track command.description) {
    <app-command [command]="command"></app-command>
}

</div>