header {
  background-color: #333;
  color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.title {
  font-size: 2.4em;
  text-align: left;
}

.routes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  display: inline;
  margin: 2px;
}

.route {
  color: #fff;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 7px;
  margin: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.4em;
}

.route:hover {
  background-color: #555;
}

.route.active {
  color: aquamarine;
}

.link {
  overflow: hidden;
  color: #919191;
  text-decoration: none;
  margin: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: right;
  text-overflow: ellipsis;
  font-size: 1em;
}

.link:hover {
  color: rgb(255, 255, 255);
}
