<header class="main-container">
    <h1 class="title">{{ title }}</h1>

    <nav class="routes">
        <ul>
            @for (route of routes; track route.name) {
                <li><a 
                    class="route"
                    [routerLink]="route.link"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >{{ route.name }}</a></li>
            }
            
        </ul>
    </nav>

    <nav class="links">
        <ul>
            @for (link of links; track link.name) {
                <li><a class="link" href={{link.href}} target="_blank">
                    {{ link.name }}
                </a></li>
            }
        </ul>   
    </nav>  
</header>