button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
  font-family: inherit;
}

button:hover,
button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}
