<div class="main-container">

<div class="container">
    <h1>Categories</h1>

    <div class="buttons">
        @for (category of this.commandService.category_set; track category.name) {
            <button 
                class="button1"
                [class]="{'toggled': this.commandService.categoryEnabled($index)}"
                (click)="toggleCategory($index)"
                [disabled]="started"
            >{{ category.name }}</button>
        }
    </div>
</div>

<div class="container">
    @if (numberCategoriesSelected() === 0) {
        <h2>Select one or <em>more</em> categories to start</h2>
    }

    <div class="buttons">
        @for (length of quiz_lengths; track $index) {
            <button
                class="button1"
                (click)="this.startQuiz(length)"
                [disabled]="canStart() === false"
            >Start {{ length }}</button>
        }
        <button
            class="button1"
            (click)="this.endQuiz()"
            [disabled]="!started"
            >Cancel</button>
    </div>

    <h1>Time Left: <span class="timer" [class.low]="timer <= 5 && timer > 0">{{ timer }}</span></h1>

    <h2></h2> 
</div>

@if (current_command !== undefined) {
    <div class="container">
        @if (this.current_command) {
            <h1>
                {{ this.current_command.description }}
            </h1>
        }
    </div>
}

@if (input_string !== "") {
    <div class="container">
        <h1>{{ input_string }}</h1>
    </div>
}

</div>